.row-fluid
  .span12
    = simple_form_for @task, html: {class: 'form-inline' } do |f|
      = f.input :title, input_html: {class: "span12 task-title-container"}, label: false, placeholder: "What can you say about your day?"
      %button.btn.btn-info.pull-right.insert-task
        %i.icon-level-up.icon-rotate-90.icon-large

%br
.row-fluid
  .span12
    .well.tasks-container
      %ul#task-list
        - @tasks.each do |task|
          %li
            .well.task-item
              %div
                .actions.pull-left
                  = link_to task, :method=>:delete, class: "delete-task" do
                    %i.icon-trash
                  %a.edit-task{href: "#"}
                    %i.icon-edit
                %span.task-title.pull-left
                  = task.title